﻿@model Music.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="Create" asp-controller="Users" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">Email</label>
        <div class="col-md-5">
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for=Email class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">@SharedLocalizer["Password"]</label>
        <div class="col-md-5">
            <input type="text" asp-for="Password" class="form-control" />
            <span asp-validation-for=Password class="text-danger"></span>
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" value=@SharedLocalizer["Add"] class="btn btn-info" />
        </div>
    </div>
</form>