﻿@model Music.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/component.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="~/css/search.css" />
    <link rel="stylesheet" type="text/css" href="~/css/btn.css" />
</head>
<form asp-action="Edit" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <div class="col-md-5">
            <input type="text" asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value=@SharedLocalizer["Save"] class="btn btn-default" />
    </div>
</form>