﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewBag.Title = "Список пользователей";
}

<body>
    <style>
        .list-group{
            padding: 70px;
        }
        .list-group-item {
            background-color: #121212;
            color: white;
        }
    </style>
    <div class="list-group">
        <h2>@SharedLocalizer["Edit users"]</h2>
        <a class="list-group-item" asp-action="Create">@SharedLocalizer["Add user"]</a>
        @*<a class="list-group-item" href="~/index.html">@SharedLocalizer["Delete user"]</a>*@
        <a class="list-group-item" asp-controller="Users"  asp-action="DeleteUser">@SharedLocalizer["Delete user"]</a>
        <a class="list-group-item" asp-action="EditUsers">@SharedLocalizer["Edit user"]</a>
        <a class="list-group-item" asp-controller="Roles" asp-action="Create">@SharedLocalizer["Add role"]</a>
        <a class="list-group-item" asp-controller="Roles" asp-action="Index">@SharedLocalizer["List roles"]</a>
    </div>
</body>

