﻿<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager


<head>
    <title>FlaminGo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="SHORTCUT ICON" href="~/images/flamingos.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" style="background-color: black;">
            <a class="navbar-brand">
                <img src="~/images/flamingos.png" width="30" height="30" alt="">
            </a>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">FlaminGo</a>
                </div>
                <ul class="nav navbar-nav ">

                    <li><a asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a></li>
                    <li><a asp-controller="Home" asp-action="AllAlbums">@SharedLocalizer["Albums"]</a></li>
                    @*<li><a asp-controller="Home" asp-action="Start">Start</a></li>*@

                    @if (User.IsInRole("admin"))
                    {
                        <li><a asp-controller="Manager" asp-action="Index">@SharedLocalizer["Edit"]</a></li>
                        <li><a asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a></li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@await Html.PartialAsync("_SelectLanguagePartial")</li>
                </ul>
                @await Component.InvokeAsync("LoginPanel")
            </div>


        </nav>

    </div>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myDIV *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    @RenderBody()
   
</body>
</html>
