﻿@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post" class="form-horizontal" role="form" enctype="multipart/form-data" >
    <div class="form-group">
        <label class="col-md-2 control-label" for="name">@SharedLocalizer["New role"]</label>
        <div class="col-md-5">
            <input name="name" class="form-control" />
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <button type="submit" class="btn btn-info">@SharedLocalizer["Add"]</button>
        </div>
    </div>
    
</form>