﻿<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/component.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="~/css/search.css" />
    <link rel="stylesheet" type="text/css" href="~/css/btn.css" />
    <script src="~/js/panel.js"></script>
</head>
<body>
    <div class="container">
        <style>
            .row{
                color:black;
            }

        </style>
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        <h3 class="panel-title">
                            <a asp-controller="Artist" asp-action="Create" class="btn btn-info">@SharedLocalizer["Add artist"]</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var artist in ViewBag.Artists)
                            {
                            <li class="list-group-item">
                                @artist.Name
                                
                                <a asp-controller="Artist" asp-action="Edit" asp-route-id="@artist.Id"> Edit | </a>
                                <a asp-controller="Artist" asp-action="Delete" asp-route-id="@artist.Id">Delete</a>
                            </li>
                                
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        <h3 class="panel-title">
                            <a asp-controller="Album" asp-action="Create" class="btn btn-info">@SharedLocalizer["Add album"]</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var album in ViewBag.Albums)
                            {
                            <li class="list-group-item">
                                @album.Title
                                <a asp-controller="Album" asp-action="Edit" asp-route-id="@album.Id"> Edit | </a>
                                <a asp-controller="Album" asp-action="Delete" asp-route-id="@album.Id">Delete</a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        <h3 class="panel-title">
                            <a asp-controller="Song" asp-action="Create" class="btn btn-info">@SharedLocalizer["Add song"]</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var song in ViewBag.Songs)
                            {
                            <li class="list-group-item">
                                @song.Name
                                <a asp-controller="Song" asp-action="Edit" asp-route-id="@song.Id"> Edit | </a>
                                <a asp-controller="Song" asp-action="Delete" asp-route-id="@song.Id">Delete</a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>