﻿@model Artist

<form asp-action="Create" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for=Name class="col-md-2 control-label">@SharedLocalizer["Name"]</label>
        <div class="col-md-5">
            <input asp-for=Name class="form-control" />
            <span asp-validation-for=Name class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-info" value=@SharedLocalizer["Add new artist"] />
        </div>
    </div>
</form>
