﻿@model Music.Models.Artist

<form asp-controller="Artist" asp-action="Edit" asp-route-id="@Model.Id">
    

    <div class="form-group">
        <label asp-for=Name class="col-md-2 control-label"></label>
        <div class="col-md-5">  
            <input asp-for=Name class="form-control" />
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-info" value="Edit" />
        </div>
    </div>
</form>