﻿@model Song
@{
    ViewBag.Title = "Create";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<form asp-action="Create" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for=Name class="col-md-2 control-label">@SharedLocalizer["Name"]</label>
        <div class="col-md-5">
            <input asp-for=Name class="form-control" />
            <span asp-validation-for=Name class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=AudiotUrl class="col-md-2 control-label">@SharedLocalizer["Audio"]</label>
        <div class="col-md-5">
            <input asp-for=AudiotUrl type="file" name="files" multiple />
        </div>
    </div>

    <div class="form-group">
        <label asp-for=AlbumId class="col-md-2 control-label">@SharedLocalizer["Album"]</label>
        <div class="col-md-5">
            <select asp-for=AlbumId class="form-control" asp-items=@ViewBag.Albums>
                @*<option selected="selected" disabled="disabled">Select Artist</option>*@
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-info" value=@SharedLocalizer["Add song"] />
        </div>
    </div>
</form>

