﻿@model Song
@{
    ViewBag.Title = "AddSong";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<form asp-controller="Song" asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for=Name class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=Name class="form-control" />
            <span asp-validation-for=Name class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=AlbumId class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for=AlbumId class="form-control" asp-items=@ViewBag.Albums>
                @*<option selected="selected" disabled="disabled">Select Artist</option>*@
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-info" value="Upload" />
        </div>
    </div>
</form>

