﻿<ul class="nav navbar-nav navbar-right">
    <li>
        <form method="post" asp-controller="Account" asp-action="LogOff">

            <input type="submit" class="btn btn-info" value="LogOut" />
            <style>
                .btn-info {
                    margin-top: 10px;
                    background-color: #fe6579;
                    border-color: #fe6579;
                }
            </style>

        </form>
    </li>
    <li><a>@User.Identity.Name</a></li>
</ul>