﻿@model Album
@{
    ViewBag.Title = "AddAlbum";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<form asp-controller="Album" asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for=Title class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=Title class="form-control" />
            <span asp-validation-for=Title class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=Price class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for=Price class="form-control" />
            <span asp-validation-for=Price class="text-danger"></span>
        </div>
    </div>


    @*<div class="form-group">
            <label asp-for=AlbumArtUrl class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for=AlbumArtUrl class="form-control" />
                <span asp-validation-for=AlbumArtUrl class="text-danger"></span>
            </div>
        </div>*@


    <div class="form-group">
        <div class="col-md-5">
            <p>Upload one or more files using this form:</p>
            <input asp-for=AlbumArtUrl type="file" name="files" multiple />
        </div>
    </div>
    @*<div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>*@



    <div class="form-group">
        <label asp-for=ArtistId class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for=ArtistId class="form-control" asp-items=@ViewBag.Artists>
                @*<option selected="selected" disabled="disabled">Select Artist</option>*@
            </select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=GenreId class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for=GenreId class="form-control" asp-items=@ViewBag.Genres>
                @*<option selected="selected" disabled="disabled">Select Genre</option>*@
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-info" value="Upload" />
        </div>
    </div>
</form>
