﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Список альбомов</title>
    <script src="~/js/albums.js"></script>
</head>
<body>
    <div id="div_Loader" style="padding-left: 400px; top: 500px">
        <img src="~/images/loading.gif" width="100px" height="100px" alt="loader" />
    </div>
    <div id="output">
    </div>
</body>
</html>