﻿body .btn-info{
    color:white;
}
.btn-info {
    background-color: #fe6579;
    border-color: #fe6579;
    color: white;
}
.btn-warning {
    background-color: #fe6579;
    border-color: #fe6579;
    color: white;
}
