﻿/* General Demo Style */
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

html {
    height: 100%;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: black;
    font-weight: 300;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    overflow: scroll;
    overflow-x: hidden;
}

a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}


.container {
    width: 100%;
    position: relative;
}

    .container > header {
        width: 90%;
        max-width: 1240px;
        margin: 0 auto;
        position: relative;
        padding: 0 30px 50px 30px;
    }

    .container > header {
        padding: 60px 30px 50px;
        text-align: center;
    }

        .container > header h1 {
            font-size: 34px;
            line-height: 38px;
            margin: 0 auto;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.5);
        }

            .container > header h1 span {
                display: block;
                font-size: 20px;
                font-weight: 300;
            }

.main > p {
    text-align: center;
    padding: 50px 20px;
}

/* Header Style */
.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

    .codrops-top a {
        padding: 0px 10px;
        letter-spacing: 1px;
        color: #333;
        display: inline-block;
    }

        .codrops-top a:hover {
            background: rgba(255,255,255,0.8);
            color: black;
        }

    .codrops-top span.right {
        float: right;
    }

        .codrops-top span.right a {
            float: left;
            display: block;
        }
