﻿#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 10px; /* Add some padding */
    border: solid #f1f1f1; /* Add a grey border */
    border-radius: 5px;
    border-width: thin;
    margin-bottom: 12px; /* Add some space below the input */
    color: #f1f1f1;
    background-color: black;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #myUL li a {
        border: 1px solid black; /* Add a border to all links */
        margin-top: -1px; /* Prevent double borders */
        background-color: black; /* Grey background color */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove default text underline */
        font-size: 18px; /* Increase the font-size */
        color: #f1f1f1; /* Add a black text color */
        display: block; /* Make it into a block element to fill the whole list */
    }

        #myUL li a:hover:not(.header) {
            background-color: black; /* Add a hover effect to all links, except for headers */
            border-color: #fe6579;
        }
