﻿@model Music.ViewModels.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/component.css" />
    <script src="~/js/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        
        <form role="form" method="post" asp-controller="Account" asp-action="Login" class="form-horizontal" enctype="multipart/form-data"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label class="col-md-2 control-label" asp-for="Email"></label>
                <div class="col-md-5">
                    <input asp-for="Email" id="email" type="text" class="form-control" name="email" placeholder="Email" />
                </div>
            </div>

            <div class="form-group">

                <label class="col-md-2 control-label" asp-for="Password"></label>
                <div class="col-md-5">
                    <input asp-for="Password" id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>

            <div class="form-group">

                <label class="col-md-2 control-label" asp-for="RememberMe"></label>
                <div class="col-md-5">
                    <input asp-for="RememberMe" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            
        </form>
    </div>
        
        
</body>
</html>