﻿@model Music.ViewModels.RegisterViewModel
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/component.css" />
    <script src="~/js/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <form method="post" asp-controller="Account" asp-action="Register" class="form-horizontal" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="col-md-2 control-label" asp-for="Email"></label>
                <div class="col-md-5">
                    <input asp-for="Email" type="text" class="form-control" name="email" placeholder="Email"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" asp-for="Password"></label>
                <div class="col-md-5">
                    <input asp-for="Password" id="password" type="password" class="form-control" name="password" placeholder="Password"/>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-5">
                    <input asp-for="PasswordConfirm" id="password" type="password" class="form-control" name="password" placeholder="Password"/>
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
        
    </div>


</body>

</html>