﻿@model IEnumerable<Music.Models.Album>
@{
	ViewBag.Title = "AllAlbums";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="description" content="Thumbnail Grid with Expanding Preview" />
	<meta name="keywords" content="thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="~/css/default.css" />
	<link rel="stylesheet" type="text/css" href="~/css/component.css" />
	<link rel="stylesheet" type="text/css" href="~/css/dropdown.css" />
	<link rel="stylesheet" type="text/css" href="~/css/search.css" />
	<script src="~/js/modernizr.custom.js"></script>
	<script src="~/js/search.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-7243260-2']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>

	<div class="container">
		
        <div class="row">

            <div class="col-md-1">

                <div class="dropdown">

                    <button class="dropbtn">Genres</button>
                    <div class="dropdown-content">

                        @foreach (var genre in @ViewBag.Genres)
                        {

                            <a asp-controller="Home" asp-action="Browse" asp-route-genre="@genre.Name">@genre.Name</a>

                        }

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for albums..">

            </div>
           


        </div>
		<div class="main">
			<ul id="myUL" class="og-grid">
				@foreach (var album in Model)
				{
					<li>
						<a href="@Url.Action("Details",
							new { id = album.Id })">
							<img alt="@album.Title"
								 src="~/demoImages/@album.AlbumArtUrl" />
							<span>@album.Title</span>

						</a>
					</li>

				}


			</ul>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="~/js/grid.js"></script>
	<script>
		$(function () {
			Grid.init();
		});
	</script>
	<script src="~/js/demoad.js"></script>

</body>
</html>