﻿@model Music.Models.Genre

@{
	ViewBag.Title = "Browse Albums";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Thumbnail Grid with Expanding Preview" />
	<meta name="keywords" content="thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="~/css/default.css" />
	<link rel="stylesheet" type="text/css" href="~/css/component.css" />
	<script src="~/js/modernizr.custom.js"></script>
	<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-7243260-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

	</script>
</head>
<body>
	<div class="container">
		
		<div class="main">
			<h2 class="text-center">@ViewBag.Genre</h2>
			<ul id="og-grid" class="og-grid">
				@foreach (var album in Model.Albums)
				{
					<li>
						<a href="@Url.Action("Details",
						new { id = album.Id })">
							<img alt="@album.Title"
								 src="~/demoImages/@album.AlbumArtUrl" />
							<span>@album.Title</span>
						</a>
					</li>
				 }
			</ul>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="~/js/grid.js"></script>
		<script>
			$(function () {
				Grid.init();
			});
		</script>
		<script src="//tympanus.net/codrops/adpacks/demoad.js"></script>

</body>
</html>