﻿@model Album
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/component.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="~/css/search.css" />
    <link rel="stylesheet" type="text/css" href="~/css/btn.css" />
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/comment.js"></script>
</head>

<div class="row first">
    <div class="col-md-12 col-md-offset-2">
        <style>
            .first {
                padding: 50px;
            }
        </style>
        <div class="col-md-6 ">
            <h1>@Model.Title</h1><br /><br />
            @foreach (var a in Model.Songs)
            {
                <div class="row">
                    <div class="col-md-2">
                        <h3>@a.Name</h3>
                    </div>

                    @if (User.IsInRole("user"))
                    {
                        <div class="col-md-6">
                            <audio controls>
                                <source src="~/audio/@a.AudiotUrl" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>

                    }
                    else
                    {
                        <p> @SharedLocalizer["AuthorizeAudio"]</p>

                    }
                </div>

            }
        </div>
        @*<div class="col-md-6">
            <h1>@Model.Title</h1>

        </div>*@

        <div class="col-md-6">
            <img src="~/demoImages/@Model.AlbumArtUrl" />
        </div>
    </div>
</div>
<div class="row">
    
    @*<div class="col-md-6 col-md-offset-3">
        
        @foreach (var a in Model.Songs)
        {
            <div class="row">
                <div class="col-md-2">
                    <h3>@a.Name</h3>
                </div>

                @if (User.IsInRole("user"))
                {
                    <div class="col-md-6">
                        <audio controls>
                            <source src="~/audio/@a.AudiotUrl" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                   
                }
                else
                {
                    <p> @SharedLocalizer["AuthorizeAudio"]</p>

                }
            </div>
         
        }
    </div>*@

</div>
<div class="row second">
    <div class="col-md-10 col-md-offset-2">
        <style>
            .second {
                padding: 100px;
            }
        </style>

        @{
            string content = "";
        }
        @{

            if (User.IsInRole("user"))
            {
                <form method="post">
                    <div class="col-sm-8">
                        <input asp-for="@content" id="commentContentId" class="form-control" />
                    </div>
                    <button class="btn btn-sm btn-warning" asp-controller="Home" id="addCommentBtn" type="submit" asp-action="AddComment"
                            asp-route-content="@content" asp-route-albumId=@Model.Id>
                        @SharedLocalizer["Addcomment"]
                    </button>
                </form>
            }
            else
            {
                <p>@SharedLocalizer["AuthorizeComment"]</p>

            }

        }
    <br />
        <div id="@Model.Id">
            @if (Model.Comments.Count == 0)
            {
                <p>@SharedLocalizer["NoComments"]</p>
            }
            else
            {
                @foreach (var comment in Model.Comments)
                {
                    <p>@comment.User.UserName:    @comment.Content</p>
                }
            }

        </div>
    </div>
</div>

