﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thumbnail Grid with Expanding Preview</title>
	<meta name="description" content="Thumbnail Grid with Expanding Preview" />
	<meta name="keywords" content="thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="~/css/default.css" />
	<link rel="stylesheet" type="text/css" href="~/css/component.css" />
	<script src="~/js/modernizr.custom.js"></script>
	<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-7243260-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

	</script>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="width:100%">

                    <div class="item active">
                        <img src="~/images/id.jpg" alt="Imagine dragons">
                    </div>

                    <div class="item">
                        <img src="~/images/am.jpg" alt="Arctic Monkeys">
                        <div class="carousel-caption">
                            <h3>Arctic Monkeys</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="~/images/muse.jpg" alt="Muse">

                    </div>

                    <div class="item">
                        <img src="~/images/bastille.jpg" alt="Bastille">

                    </div>

                    <div class="item">
                        <img src="~/images/daft.jpg" alt="Daft Punk">

                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        @using Microsoft.AspNetCore.Mvc.Localization

        @inject IViewLocalizer Localizer


    </div>
    <socials>
        <vk></vk>
        <instagram></instagram>
    </socials>
</body>
</html>