﻿@model IEnumerable<Music.Models.Genre>

@{
    ViewBag.Title = "Start";
}
<h3>Browse Genres</h3>
<p>
    Select from @Model.Count()
    genres:
</p>
<ul>
    @foreach (var genre in Model)
    {
        <li>
            <a asp-controller="Home" asp-action="Browse" asp-route-genre="@genre.Name">@genre.Name</a>
        </li>
    }
</ul>

<h3>Albums</h3>
<ul>

    @foreach (var album in ViewBag.Albums)
    {
        <li>
            @album.Title
        </li>
    }
</ul>
<h3>Artists</h3>
<ul>
    @foreach (var artist in ViewBag.Artists)
    {
        <li>
            @artist.Name
        </li>
    }
</ul>
<socials>
    <vk></vk>
    <instagram></instagram>
</socials>

